@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
*,*:before,*:after {
    box-sizing: border-box;
}
body {
margin: 0;
font-family: poppins;
font-size: 15px;
display: 0;
max-width: 1680px;
    width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    
}
ul {
    list-style: none;
    padding:0;
    margin:0
}

img {
    display: block;
    max-width: 100%;
}
.container {
    width: 1200px;
    margin: auto;
}


/*------------HEADER--------------*/

.header {
    background-color: #000;
    padding-top: 22px;
    padding-bottom: 94px;
}
.header__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__block__logo {

}

nav {
    display: flex;
   gap: 35px; 
   padding: 0;
   margin: 0;
   align-items: center;
}
.nav__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
}
.nav__link:hover {
    color: #B7B7B7;

}
.nav__link:focus {
    color: #B7B7B7;
}
.nav__link:active {
    color: #B7B7B7;
    text-decoration: underline;
}
.nav__link:last-child {
   
}
.header__lng {
    padding: 0;
    margin: 0;
    gap: 8px;
}

.header__block__lng {
}
.header__lng-link {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    
}
.header__lng-link:hover {
    color: #B7B7B7;

}
.header__lng-link:focus {
    color: #B7B7B7;
}
.header__lng-link:active {
    color: #B7B7B7;
    text-decoration: underline;
}
.header__lng-link:last-child {
    
}

/*-------Keeping--------*/
.keeping {
    background-color: #000;
}

.keeping-title {
    color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 0,02;
text-transform: uppercase;
display: flex;
padding-top: 217px;
margin-bottom: 64px;
}
.keeping-btn {
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 8,3;
background: #DB2512;
border: none;
width: 198px;
height: 50px;
flex-shrink: 0;
margin-bottom: 26px;
}
.keeping-btn:hover {
    font-size: 25px;
}
.keeping-list {
    display: flex;
    gap: 30px;
    transition-property: transform;
    display: flex;
    flex-shrink: 0;
    align-self: flex-end;
    padding-bottom: 83px;
}

.keeping-list .keeping-icon-link {
    background-color: ;
}

.keeping-list .address-icon {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
background-color: #fff;
}
.keeping-list .address-icon:hover {
    transform: scale(2);
    transition-duration: 1000ms;
  }

.keeping-list-item {
    background: #FFF;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
width: calc((100% - 60px) / 3);
}

.address-icon {
    margin-top: 39px;
    margin-left: 39px;
    margin-bottom: 21px;
    display: block;
}

.keeping-link {
    margin-top: 21px;
    margin-left: 39px;
    color: #000;
font-size: 18px;
font-weight: 700;
line-height: 0.08;
letter-spacing: 0.15em;
text-transform: uppercase;
font-style: normal;

}
.keeping-text {
    margin-top: 15px;
    margin-left: 39px;
    margin-bottom: 37px;
    color: #B7B7B7;
font-size: 18px;
font-weight: 400;
line-height: 0.08; 
font-style: normal;
}


/*-------SERVICES--------*/

.services {
}
.container {
}
.services-title {
    color: #000;
font-size: 30px;
font-weight: 700;
line-height: 0.5;
letter-spacing: 0.15em;
text-transform: uppercase;
    margin-top: 21px;
}
.services-text-item {
    margin-top: 15px;
    color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.15em;
text-decoration-line: underline;

}
.services-list {
    display: flex;
    gap: 21px;
    margin-top: 60px;
    padding-bottom: 98px;
}
.services-list-item {
    width: calc((100% - 42px) / 3);
}
.services-img {
}
.services-text {
    margin-top: 21px;
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.5;
letter-spacing: 0.32em;
text-transform: uppercase;
}



/*-------IMPORTANT--------*/

.important {
    background-color: #000;
}
.container {
}
.important-container {
    padding-top: 117px;
    padding-bottom: 116px;
    display: flex;
    gap: 182px;
}
.important-block {
}
.important-title {
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 45px */
letter-spacing: 4.5px;
text-transform: uppercase;
margin-bottom: 42px;
}
.important-text {
    color: #B7B7B7;

font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 22.5px */
letter-spacing: 3.45px;
margin-bottom: 48px;
}
.important-text-item {
    color: #FFF;

font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: 2.7px;
text-decoration-line: underline;
text-transform: uppercase;
}

.important-img {
    max-width: 513px;
    width: 100%;
margin: 0 auto;
object-fit: contain;
}

/*-------PROCESS--------*/

.process {

}
.process-container {
    padding-top: 99px;
    padding-bottom: 99px;
}
.container {
}
.process-text-item {
    color: #000;
font-family: Poppins;
font-size: 148px;
font-style: normal;
font-weight: 900;
line-height: 150%; /* 222px */
text-transform: uppercase;
margin-bottom: 58px;
}
.process-title {
    color: #000;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 60px */
letter-spacing: 6px;
text-transform: uppercase;
    margin-bottom: 58px;

}
.process-list {
    display: flex;
    gap: 19px;
}
.process-list-item {
    background: #FFF;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
width: calc((100% - 38px) / 3);
padding: 26px;
}
.process-subtitle {
    margin-bottom: 15px;
}
.process-list-text {
}

/*-------CONTACT--------*/
.contact {
    background-color: #000;
    padding-top: 97px;
    padding-bottom: 97px;
}

.container {
}
.contact-container {
}
.contact-title {
    color: #FFF;
    margin-bottom: 47px;

font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 45px */
letter-spacing: 4.5px;
text-transform: uppercase;
}
.contact-list {
    display: flex;
    gap: 190px;
    margin-bottom: 55px;
}
.contact-list-item {
    text-decoration-line: underline;
    color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 22.5px */
letter-spacing: 2.25px;
}
.contact-text {
    text-decoration-line: underline;
    color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 22.5px */
letter-spacing: 2.25px;
margin-bottom: 145px;
}
.keeping-btn {
}

/*-------FOOTER--------*/
.footer {
    padding-top: 66px;
    padding-bottom: 66px;
}

